# Database
DATABASE_URL="postgresql://user:password@localhost:5432/notetaking_app"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-hex-32"

# OAuth Providers
NEXTAUTH_GITHUB_ID="your-github-oauth-app-id"
NEXTAUTH_GITHUB_SECRET="your-github-oauth-app-secret"

NEXTAUTH_GOOGLE_ID="your-google-oauth-client-id"
NEXTAUTH_GOOGLE_SECRET="your-google-oauth-client-secret"

# OpenAI API
NEXT_PUBLIC_OPENAI_API_KEY="sk-"
OPENAI_API_KEY="sk-"
